<div class="container">
    <div class="row">
        <div class="col-md-12 col-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h3>All Users</h3>
                    <a class="fa fa-plus pull-right" [routerLink]="['/admin/add-user']"></a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 col-12"></div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email Id</th>
                                    <th>Onboarded On</th>
                                    <th>Organization</th>
                                    <th>Role</th>
                                    <th class="text-center">Reports</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of allUsers">
                                    <td>{{item.name}}</td>
                                    <td>{{item.email}}</td>
                                    <td>{{item.onboardedDate | date}}</td>
                                    <td>{{item.organization}}</td>
                                    <td>{{item.role}}</td>
                                    <td class="text-center"><a *ngIf="item.xeroTokens" class="fa fa-file"
                                            (click)="viewUserReport(item)"></a>
                                    </td>
                                    <td class="text-center"><a *ngIf="!item.xeroTokens" class="fa fa-send"
                                            (click)="sendConsentEmail(item)"></a>
                                        {{item.sent ?
                                        item.sent : ''}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>