<div class="container">
    <div *ngIf="!isTokenAdded">
        <div class="row">
            <div class="col-md-12">
                <span data-xero-sso data-label="Sign in with Xero"></span><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 style="color: white; padding: 0; margin-top: 20px;">Click the Xero SignIn button to Provide your
                    Consent
                    to this App</h2>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="isTokenAdded">
        <div class="col-md-12">
            <h2 style="color: white; padding: 0; margin-top: 20px;">Thankyou for your
                Consent
                to the App!!!</h2>
        </div>
    </div>

</div>