<h3>{{report.Reports[0].ReportTitles}}</h3>

<div class="table">
    <table class="table table-bordered" style="white-space: nowrap;">
        <thead>
            <tr>
                <th class="text-center" *ngFor="let date of bankData.dates">{{date.Value}}</th>
            </tr>
        </thead>
        <tbody class="tableRow" *ngFor="let item of bankData.finalData">
            <!-- <div > -->
            <h3>{{item.title}}</h3>
            <tr *ngFor="let sub of item.data">
                <!-- <p *ngFor="let item of bankData.finalData">{{item.title}} -->
                <td class="text-center" *ngFor="let sub1 of sub">{{ sub1.Value }}</td>
                <!-- </p> -->
            </tr>
            <!-- </div> -->
        </tbody>
    </table>
</div>

<!-- <mat-tab-group mat-stretch-tabs class="tab" color="accent">
    <mat-tab label="Bank">
        <div class="table">
            <table class="table table-bordered" style="white-space: nowrap;">
                <thead>
                    <tr>
                        <th class="text-center" *ngFor="let date of bankData.dates">{{date.Value}}</th>
                    </tr>
                </thead>
                <tbody class="tableRow mat-elevation-z">
                    <tr *ngFor="let item of bankData.bankDetails">
                        <td class="text-center" *ngFor="let sub of item">{{ sub.Value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
    <mat-tab label="Current Assets">
        <div class="table">
            <table class="table table-bordered" style="white-space: nowrap;">
                <thead>
                    <tr>
                        <th class="text-center" *ngFor="let date of bankData.dates">{{date.Value}}</th>
                    </tr>
                </thead>
                <tbody class="tableRow mat-elevation-z">
                    <tr *ngFor="let item of bankData.currentAssetData">
                        <td class="text-center" *ngFor="let sub of item">{{ sub.Value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
    <mat-tab label="Fixed Assets">
        <div class="table">
            <table class="table table-bordered" style="white-space: nowrap;">
                <thead>
                    <tr>
                        <th class="text-center" *ngFor="let date of bankData.dates">{{date.Value}}</th>
                    </tr>
                </thead>
                <tbody class="tableRow mat-elevation-z">
                    <tr *ngFor="let item of bankData.fixedAssetData">
                        <td class="text-center" *ngFor="let sub of item">{{ sub.Value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
</mat-tab-group> -->