<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h3>Add Users</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input #name type="text" class="form-control" placeholder="Name" required>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input #email type="email" class="form-control" placeholder="Email" required>
                                </div>
                            </div>

                            <div class="col-md-6 mt-3">
                                <div class="form-group">
                                    <input #org type="text" class="form-control" placeholder="Organization" required>
                                </div>
                            </div>

                            <div class="col-md-6 mt-3">
                                <div class="form-group">
                                    <input #role type="text" class="form-control" placeholder="Role" required>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12 mt-3">
                                <button mat-raised-button color="accent" (click)="location.back()">
                                    Back
                                </button>

                                <button mat-raised-button color="primary" style="margin-left: 20px;"
                                    (click)="addUserSubmit(name.value, email.value, org.value, role.value)">
                                    Add User
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>