.example-container {
    width: 100%;
    height: 100%;
    // margin: 10px;
    border: 1px solid #555;
  }

  .example-sidenav {
      padding: 10px;
  }

  .material-icons{
      margin-right: 5px;
  }

  

  p{
      margin: 0;
  }