<mat-drawer-container class="example-container" autosize>
    <mat-drawer opened class="example-sidenav" mode="side">
        <!-- <p>Auto-resizing sidenav</p> -->
        <mat-nav-list class="nav-link">
            <a *ngFor="let menuItem of menu" mat-list-item [routerLink]="[menuItem.path]" routerLinkActive="active">
                <i class="material-icons">{{ menuItem.icon }}</i>
                <p class="nav-text">{{ menuItem.title }}</p>
            </a>
            <!-- <h6 *ngFor="let item of temp"> {{item.name}}
              <a *ngFor="let menuItem of item.value" mat-list-item [routerLink]="[menuItem.path]" routerLinkActive="active">
                <i class="material-icons">{{ menuItem.icon }}</i>
                <p class="nav-text">{{ menuItem.title }}</p>
              </a>
            </h6> -->

        </mat-nav-list>
    </mat-drawer>

    <div class="example-sidenav-content">
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>