<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button mat-raised-button color="primary" [routerLink]="['/admin/view-users']">
                Back to Users
            </button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <mat-form-field class="select" style="display: block;">
                <mat-label>Choose a Tenant</mat-label>
                <mat-select #selectedTenent>
                    <mat-option *ngFor="let item of allTenents" value="{{item.tenantId}}">{{item.tenantName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-md-4">
            <button mat-raised-button (click)="tenentReport(selectedTenent.value)">Get Tenent Report</button>
            <div>
                <p *ngIf="isTenentSelcted" class="select" style="color: red;">Select a Tenant</p>
                <p *ngIf="isAuth" class="select" style="color: red;">Authorization Failed, Please Login again</p>

            </div>

        </div>
    </div>
</div>

<!-- <app-side-nav *ngIf="isReportReady"></app-side-nav> -->

<div class="container" *ngIf="isReportReady">
    <div class="row">
        <h2>{{report.Reports[0].ReportTitles[0]}},&nbsp;&nbsp;{{report.Reports[0].ReportTitles[1]}},&nbsp;&nbsp;{{report.Reports[0].ReportTitles[2]}}
        </h2>

        <div class="col-md-5">
            <mat-form-field style="display: block;" class="select">
                <mat-label>Choose a Timeframe</mat-label>
                <mat-select #timeFrame>
                    <mat-option value="MONTH">MONTH</mat-option>
                    <mat-option value="QUARTER">QUARTER</mat-option>
                    <mat-option value="YEAR">YEAR</mat-option>

                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-md-5">
            <mat-form-field class="select" style="display: block;">
                <mat-label>Choose a Period</mat-label>
                <mat-select #period>
                    <mat-option *ngFor="let item of periodOptions" value="{{item}}">{{item}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-md-2">
            <button mat-raised-button (click)="tenentReportFilter(timeFrame.value, period.value)">Filter</button>

        </div>

        <div class="table">
            <table class="table table-borderless" style="white-space: nowrap;">
                <thead>
                    <tr>
                        <th class="text-center" *ngFor="let date of balanceSheetData.dates">{{date.Value}}</th>
                    </tr>
                </thead>
                <tbody class="tableRow" *ngFor="let item of balanceSheetData.finalData">
                    <h3 style="font-family: Arial, Helvetica, sans-serif;"><strong>{{item.title}}</strong></h3>
                    <tr *ngFor="let sub of item.data">
                        <td class="text-center" *ngFor="let sub1 of sub">{{ sub1.Value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>